footer {
    background: #151a1f;
    padding: 50px 100px !important;
    
}
footer h3 {
    color: #a8a8a8;
}

.nav {
    font-size: 14px !important;
    
    
}
.nav li {
    padding: 0 !important;
}

.nav-link {
    color: #a8a8a8 !important;
    padding: 0 !important;
    margin: 20px 0;
    margin-right: 30px;
   
}

h3 svg {
    transform: scale(1.4);
    margin-right: 20px;
}
h3 path { 
    fill: white;
}

.col-sm-4 h3 {
    margin-bottom: 20px;
}