.navigation {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    position: fixed;
    background: #2c363f;
    padding-left: 100px;
    z-index: 999;
    transition: background .4s;
}

.navigation ul {
    list-style-type: none;
    height: 100%;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul li {
    float: left;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-left: 4vw;
    font-weight: 300;
    cursor: pointer;
    position: relative;
}

.navigation ul li::before {
    content: '';
    height: 4px;
    width: 0%;
    opacity: 0;
    position: absolute;
    background-color: #bbdb9b;
    margin: 25px 0;
    border-radius: 4px;
    transition: .4s;
}

.navigation ul li:hover::before {
    width: 100%;
    opacity: 1;
}

.navigation ul li:nth-child(4):before,
.navigation ul li:nth-child(5):before,
.navigation ul li:nth-child(6):before,
.navigation ul li:nth-child(7):before {
    display: none;
}

.navigation ul li:nth-child(4),
.donate-btn {
    border-radius: 10px;
    background: #e75a7c;
    padding: 10px 18px;
    font-weight: 500;
    color: black;
    box-shadow: 0 5px 0 black;
    z-index: 1;
    box-sizing: border-box;
}

.navigation ul li:nth-child(4):active {
    box-shadow: 0 1px 0 black;
    top: 4px;
}
.navigation ul li span {
    position: absolute;
    line-height: 43px;
    margin-left: 5px;
}
.lang {
    top: 100px;
    transform: scale(.7);
}
.logotype {
    position: absolute;
    top: 5px;
    transform: scale(.8);
    cursor: pointer;
}
.changeThemeBtn {
    height: 30px;
    aspect-ratio: 1 / 1;
    background: black;
    border-radius: 100%;
    overflow: hidden;
    transform: rotateZ(-45deg);
}
#upper {
    height: 50%;
    width: 100%;
    background: #e75a7c;
}
#bottom {
    height: 50%;
    width: 100%;
    background: #374552;
}
.mobileNavigation {
    background: #374552;
    color: #fff;
    position: absolute;
    z-index: 999;
    width: 60vw;
    padding: 40px 20px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    display: none;
}
.mobileNavigation ul {
    list-style-type: none;
    font-size: calc(10px + 1em);
}
.mobileNavigation ul li{
    margin-top: 10px;
    cursor: pointer;
}
.mobileNavigation ul a {
    outline: none;
    color: white;
    text-decoration: none;
}
.mobileNavigation h1 {
    display: inline;
    width: 5px;
    overflow: hidden;
    font-size: 26px;
}
.mobileNavigation div {
    display: inline-block;
    margin-top: 20px;
}
.mobileNavigation svg {
    margin-top: -40px;
    margin-left: 20px;
}
.bottomLinks {
    width: 100%;
    
}
.bottomLinks, .bottomLinks ul {
    width: 100%;
}
.bottomLinks ul li {
    font-size: 15px !important;
    margin-left: 20px;
}

.bottomLinks ul li:nth-child(3) {
    float: right;
    margin: -20px 50px;
}

.mobileNavigation .fa-solid {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #fff;
    font-size: 25px;
}

.opened {
    display: block;
}

